@font-face {
  font-family: "BalooRegular";
  src: url("../../fonts/Baloo Regular 400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: "MeriendaOne";
  src: url("../../fonts/MeriendaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "YesevaOne";
  src: url("../../fonts/YesevaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "NotoSansGujaratiBold";
  src: url("../../fonts/NotoSansGujarati-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansGujaratiRegular";
  src: url("../../fonts/NotoSansGujarati-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100vw !important;
  height: 100%;
  background-image: url("../images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.home-btn {
  position: fixed;
  top: 2.5vw;
  left: 4%;
  width: 3.5vw;
  z-index: 1000;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.home-btn:hover {
  transform: scale(1.15);
}

.home-btn img {
  width: 100%;
  display: block;
}



.language-container {
  position: fixed;
  top: 2.5vw;
  right: 5%;
  display: flex;
  width: 9vw;
  padding: 0.2vw 0.3vw;
  height: auto;
  justify-content: space-between;
  align-items: center;
  font-family: "BalooRegular";
  border: 0.2vw solid #3C62AB;
  background-color: #FFFFFF;
  border-radius: 50vw;
  pointer-events: auto;
  z-index: 1000;
}

.language-container div {
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1.6vw;
  text-align: center;
  border: 0.2vw solid #3C62AB;
  background: transparent !important;
  color: #3C62AB;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "BalooRegular", sans-serif;
}

.language-container div:hover {
  background-color: #FF803A !important;
  color: #FFFFFF;
}

.language-container div.active {
  background-color: #FF803A !important;
  color: white;
}

.topics {
  width: 100%;
  height: 100%;
  padding: 2vw;
  padding-bottom: 4vw;
  position: absolute;
  top: 1vw;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
}

.topics .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0vw;
}

.topics .row .col {
  width: 15vw;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  transform-origin: center;
  z-index: 999999;
}

.topics .row .col:hover {
  transform: scale(1.05);
}

.col img {
  width: 95%;
  display: block;
  object-fit: contain;
  position: relative;
}

.col span {
  position: absolute;
  font-size: 2vw !important;
}

.col .num {
  top: 10%;
}

.col .text {
  top: 55%;
  transform: translateY(-50%);
}

.pranam-container {
  position: absolute;
  width: 45vw;
  height: auto;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -80%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pranamComeFromBottom 1s ease forwards;
}

@keyframes pranamComeFromBottom {
  from {
    transform: translate(-50%, 80%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.pranam-container>.pranam-img {
  position: relative;
  width: 85%;
  height: auto;
  display: block;
}

.pranam-container>.pranam-img>img {
  width: 100%;
  display: block;
}

.pranam-img span {
  z-index: 15;
  position: absolute;
  top: 17%;
  left: 50%;
  font-size: 3.4vw;
  transform: translateX(-50%);
  font-family: "BalooRegular";
  color: #6D9DFF;
}

.pranam-container .home-btn-1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 15vw;
  height: auto;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.pranam-container .home-btn-1:hover {
  transform: translateX(-50%) scale(1.05);
}

.pranam-container .home-btn-1 img {
  width: 100%;
  display: block;
}

.home-btn-1 span {
  z-index: 15;
  position: absolute;
  top: 45%;
  left: 38%;
  font-size: 2.5vw;
  transform: translateY(-50%);
  font-family: "BalooRegular";
  color: #FFFFFF;
}

.back-btn {
  position: absolute;
  left: 4%;
  top: 4%;
  width: 3vw;
  height: 3vw;
  background-color: #FF803A;
  border: 0.25vw solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s ease;
  z-index: 50;
}

.back-btn i {
  color: white;
  font-size: 1vw;
  transition: font-size 0.3s ease;
}

.back-btn:hover {
  transform: scale(1.05);
  background-color: white;
}

.back-btn:hover i {
  font-size: 1.2vw;
  color: #FF803A !important;
}